<h1><%= I18n.t('spree.wishlist.creating_wishlist') %></h1>
<%= form_for @wishlist do |f| %>
  <p><%= f.label :name, I18n.t('spree.name') %>:&nbsp;<%= f.text_field :name %></p>
  <p><%= f.check_box :is_private %>&nbsp;<%= f.label :is_private, I18n.t('spree.wishlist.is_private') %></p>
  <%= f.submit I18n.t('spree.create') %>
<% end -%>
